.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 25px;
  width: 500px;
  align-items: center;
}

h1 {
  color: #6d14b8;
}

.reset,
.button {
  border-radius: 20px;
  background-color: aquamarine;
  color: blueviolet;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #69b7eb;
  width: 80px;
}

button.disabled {
  pointer-events: none;
}

.errormessage {
  color: #6d14b8;
  font-size: 20px;
  font-weight: bold;
}

.text {
  font-size: 18px;
  color: yellow;
  text-shadow: #FB0 1px 0 10px;
}