.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    width: 500px;
    align-items: center;
    background: white;
    opacity: 0.8;
    height:500px;
    border-radius: 20px;
  }
   
  .reset {
    color: green;
    font-weight: 600;
    text-align: center;
  }
  
  .h1 {
    color: #6d14b8;
  }

  .text {
    font-size: 18px;
    color: gray;
    text-shadow: #FB0 1px 0 10px;
  }