.data {
    display: flex;
    background: rgba(0, 120, 201, 0.1);
    border-radius: 20px;
    margin-top: 10px;
}

.line {
    width: 300px;
    border-bottom: 1px solid pink;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 30px;
}

.src {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
